<header>
    <a class="logo" href="<%= root_path %>">
        <%= image_tag "rbl.png" %>
        <div class="logo-text">
            <span class="logo-text-upper">Ruby</span>
            <br>
            <span class="whitespace-nowrap">Library App</span>
        </div>
    </a>
    <%
=begin%>
 <nav aria-label="Global-navigation">
        <ul>
            <li><a href="<%= root_path %>">Home</a></li>
            <li><a href="<%= books_path %>">Books</a></li>
            <li><a href="<%= authors_path %>">Authors</a></li>
            <li><a href="<%= users_path %>">Users</a></li>
            <li><a href="<%= loans_path %>">Loans</a></li>
        </ul>
    </nav> 
<%
=end%>
    <!-- Theme Toggle Button Here -->
    <div data-controller="searchbox" class="ml-auto relative flex items-center justify-center">
        <button data-action="click->searchbox#open" data-searchbox-target="hitbox" class="absolute right-0 w-11 h-11 flex items-center justify-center z-10 transition-[transform,opacity] duration-300 bg-black/15 rounded-full opacity-0 hover:opacity-100"></button>
        <div data-searchbox-target="background" class="transition-[transform,opacity] duration-300 bg-white opacity-0 rounded-full absolute w-55 h-11"></div>
        <%= image_tag "search.svg", data: { searchbox_target: "icon" }, class: "transition-transform duration-300 w-8 z-1 absolute pointer-events-none left-0 translate-x-42.5" %>
        <div class="opacity-0 w-8 h-8"></div>
        <input data-action="blur->searchbox#checkClose keydown.esc->searchbox#close" data-searchbox-target="input" type="text" placeholder="Search..." class="focus:outline-0 scale-x-0 transition-transform" />
    </div>
    <!-- Account -->
</header>