<%= form_with(model: book, html: { multipart: true }) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :published_on, style: "display: block" %>
    <%= form.date_field :published_on %>
  </div>

  <div>
    <%= form.label :author_id, style: "display: block" %>
    <%= form.text_field :author_id %>
  </div>

  <div>
    <%= form.label :cover, style: "display: block" %>
    <%= form.file_field :cover, direct_upload: true %>
    <% if book.cover.attached? %>
      <p>Current cover:</p>
      <%= image_tag url_for(book.cover), style: "max-width: 200px; height: auto;" %>
    <% end %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
