<div id="<%= dom_id loan %>">
  <p>
    <strong>User:</strong>
    <%= loan.user_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= loan.book_id %>
  </p>

  <p>
    <strong>Borrowed on:</strong>
    <%= loan.borrowed_on %>
  </p>

  <p>
    <strong>Due on:</strong>
    <%= loan.due_on %>
  </p>

  <p>
    <strong>Returned:</strong>
    <%= loan.returned %>
  </p>

</div>
