<p style="color: green"><%= notice %></p>

<% content_for :title, "Loans" %>

<!-- <h1>Loans</h1> -->

<ul id="loans" class="p-5">
  <% @loans.each do |loan| %>
    <li id="<%= dom_id loan %>" class="relative group hover:bg-black/10 p-3 rounded mb-3">
      <%= render loan %>
      <%= link_to "", loan, class: "absolute top-0 bottom-0 left-0 right-0" %>
    </li>
  <% end %>
</ul>

<% if is_admin? %>
  <%= link_to "New loan", new_loan_path %>
<% end %>
