<% provide(:title, "Forgot password") %>

<div class="absolute top-0 left-0 w-1/2 h-full bg-[#FFF3F3]/95 p-12">
  <div class="bg-white h-full p-15 rounded-4xl flex flex-col gap-3">
    <h1 class="text-4xl font-medium">Forgot your password?</h1>

    <%= form_with(model: resource, as: resource_name, url: password_path(resource_name), method: :post) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <%= render FloatingFieldComponent.new(form: f, attribute: :email, autocomplete: "email", type: :email, autofocus: true) %>

      <div class="actions mt-10 bg-blue-500 text-white rounded-md p-2 text-center hover:bg-blue-600 transition-colors relative">
        <%= f.submit "Send me reset password instructions", id: "submit" %>
        <label for="submit" class="absolute top-0 bottom-0 left-0 right-0 cursor-pointer"></label>
      </div>
    <% end %>

    <p class="text-center">or</p>
    <%= render "users/shared/links" %>
  </div>
</div>

<%= image_tag "login/login-bg.png", class: "absolute top-0 left-0 w-full h-full object-cover -z-10" %>
